{	
   "extends": [
    "stylelint-config-standard"
  ],
  "customSyntax": "postcss-styled-syntax",
  "rules":{
    "at-rule-empty-line-before": null,
    "media-query-no-invalid": null,
    "alpha-value-notation": null,
    "rule-empty-line-before": null,
    "length-zero-no-unit": null,
    "declaration-empty-line-before": "never",
    "selector-class-pattern": null,
    "no-empty-source": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "color-function-notation": null,
    "media-feature-range-notation": null,
    "comment-empty-line-before": null,
    "color-hex-length": null,
    "number-max-precision": null,
    "no-descending-specificity": null,
    "custom-property-empty-line-before": null,
    "shorthand-property-no-redundant-values": null,
    "property-no-vendor-prefix": null
  }
}
